#underEighteen, #eighteenToTwenty, #twentyOneToFifty, #fiftyPlus {
  display: none;
}

h1{
  text-align: center;
}

body {
  text-align: center;
  background-color: tan;
}

#enterAge{
  border: 3px solid red;
  border-radius: 5px;
}

div.form {
    display: block;
    text-align: center;
    width: 100%;
}
form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
